watch_file .python-version pyproject.toml

# get rid of pyenv in path - it doesn't play nice with uv venv
export PATH=$(echo $PATH | tr : '\n' | grep -v 'shims' | tr '\n' :)

export UV_PROJECT_ENVIRONMENT=.venv-argus

# activate the virtualenv after syncing; this puts the newly-installed
# binaries on PATH.
venv_path=$(expand_path "${UV_PROJECT_ENVIRONMENT:-.venv}")
if [[ -e $venv_path ]]; then
  # shellcheck source=/dev/null
  source "$venv_path/bin/activate"
fi

uv sync --all-extras
