[Unit]
Description=Argus Test Tracking web application
After=network.target

[Service]
Type=simple
User=argus
Group=argus
Environment=FLASK_ENV=production
WorkingDirectory=/home/argus/app
ExecStart=/bin/bash -l /home/argus/app/start_argus.sh

[Install]
WantedBy=multi-user.target
