{% extends "base.html.j2" %}

{% block title %}
{{ key | e }}
{% endblock %}

{% block javascripts %}
{{ super() }}
<script>
    const gIssueKey = {{ key | tojson }};
</script>
<script defer type="module" src="/s/dist/issueLinks.bundle.js"></script>
{% endblock javascripts %}

{% block body %}
<div class="container p-1" id="issueLinks">

</div>
{% endblock %}
