{% extends "base.html.j2" %}

{% block title %}
Notifications
{% endblock %}

{% block javascripts %}
{{super()}}
<script defer type="module" src="/s/dist/profileNotifications.bundle.js"></script>
{% endblock javascripts %}

{% block body %}
{% if g.user %}
<div class="container" id="notificationsContainer">

</div>
{% else %}
{% endif %}
{% endblock %}
