{% extends "base.html.j2" %}

{% block title %}
My Jobs
{% endblock %}

{% block javascripts %}
{{super()}}
<script defer type="module" src="/s/dist/profileJobs.bundle.js"></script>
{% endblock javascripts %}

{% block body %}
{% if g.user %}
<div id="jobsContainer">

</div>
{% else %}
{% endif %}
{% endblock %}
