{% extends "base.html.j2" %}

{% block title %}
Test Run
{% endblock %}

{% block javascripts %}
{{ super() }}
<script>
    const gTestId = "{{ run.test_id or undefined }}";
    const gRun = {{ [run.id] | tojson | safe }}
    const gTab = "{{ tab }}";
</script>
<script defer type="module" src="/s/dist/runByPlugin.bundle.js"></script>
{% endblock javascripts %}

{% block body %}
<div class="container p-1" id="testRunBody">

</div>
{% endblock %}
